#starText {
	font-size: 3em;
}

.ui.card {
	width: 60%;
}

.right.floated.column {
	margin-right: .75em;
}

p {
	text-align: center;
}

h1 {
	width: 100%;
}

#pet {
	position: relative;
}

#petDiv {
	z-index: 0;
	margin-top: 100px;
}

#sunglassesDiv {
	z-index: 1;
	position: absolute;
	top: 35%;
	left: 33%;
}

#boneDiv {
	z-index: 1;
	position: absolute;
	right: 0%;
	bottom: 0%;
}

#button-image {
	width: 75%;
}

#hatDiv {
	z-index: 1;
	position: absolute;
	left: 33%;
	top: 13%;
}

#bowtieDiv {
	z-index: 1;
	position: absolute;
	left: 33%;
	top: 59%;
}

#starsMsg {
	color: red;
	font-size: large;
}