.food-image-container {
	/*position: absolute;*/
}

/*.dairy-icon {
	top: 0;
	left: 0;
	position: absolute;
}*/

#dairy-icon-1 {
	top: 0;
	left: 0;
	position: absolute;
}

#dairy-icon-2 {
	top: 0;
	left: 0;
	position: absolute;
}

#dairy-icon-3 {
	top: 0;
	left: 0;
	position: absolute;
}

#dairy-icon-4 {
	top: 0;
	left: 0;
	position: absolute;
}

#dairy-icon-5 {
	top: 0;
	left: 0;
	position: absolute;
}


#fats-icon-1 {
	top: 0;
	left: 0;
	position: absolute;
}

#fats-icon-2 {
	top: 0;
	left: 0;
	position: absolute;
}

#fats-icon-3 {
	top: 0;
	left: 0;
	position: absolute;
}

#fats-icon-4 {
	top: 0;
	left: 0;
	position: absolute;
}

#fats-icon-5 {
	top: 0;
	left: 0;
	position: absolute;
}


#veggies-icon-1 {
	top: 0;
	left: 0;
	position: absolute;
}

#veggies-icon-2 {
	top: 0;
	left: 0;
	position: absolute;
}

#veggies-icon-3 {
	top: 0;
	left: 0;
	position: absolute;
}

#veggies-icon-4 {
	top: 0;
	left: 0;
	position: absolute;
}

#veggies-icon-5 {
	top: 0;
	left: 0;
	position: absolute;
}


#fruits-icon-1 {
	top: 0;
	left: 0;
	position: absolute;
}

#fruits-icon-2 {
	top: 0;
	left: 0;
	position: absolute;
}

#fruits-icon-3 {
	top: 0;
	left: 0;
	position: absolute;
}

#fruits-icon-4 {
	top: 0;
	left: 0;
	position: absolute;
}

#fruits-icon-5 {
	top: 0;
	left: 0;
	position: absolute;
}


#carbs-icon-1 {
	top: 0;
	left: 0;
	position: absolute;
}

#carbs-icon-2 {
	top: 0;
	left: 0;
	position: absolute;
}

#carbs-icon-3 {
	top: 0;
	left: 0;
	position: absolute;
}

#carbs-icon-4 {
	top: 0;
	left: 0;
	position: absolute;
}

#carbs-icon-5 {
	top: 0;
	left: 0;
	position: absolute;
}
